<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="STDOUT_JSON" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="net.logstash.logback.encoder.LogstashEncoder" />
	</appender>

	<logger name="jdbc.sql" level="${log.level.jdbc.sql:-ERROR}" />
	<logger name="org.hibernate.SQL" level="${log.level.org.hibernate.SQL:-WARN}" />
	<logger name="org.hibernate.SQL_SLOW" level="${log.level.org.hibernate.SQL_SLOW:-INFO}" />
	<logger name="com.zaxxer.hikari" level="${log.level.com.zaxxer.hikari:-WARN}" />
	<logger name="org.hibernate.type" level="${log.level.org.hibernate.type:-WARN}" />
	<logger name="org.hibernate" level="${log.level.org.hibernate:-WARN}" />
	<logger name="ch.qos.logback" level="${log.level.ch.qos.logback:-WARN}" />
	<logger name="org.flywaydb" level="${log.level.org.flywaydb:-INFO}" />
	<logger name="org.apache" level="${log.level.org.apache:-ERROR}" />

	<logger name="io" level="ERROR"/>
	<logger name="org" level="ERROR"/>
	<logger name="com" level="ERROR"/>
	<logger name="no.nav" level="INFO"/>
	<logger name="no.nav.soknad.arkivering" level="INFO"/>

	<root level="INFO">
		<appender-ref ref="STDOUT_JSON"/>
	</root>
</configuration>
