name: YAML validering
on:
  push:
    paths:
      - '*'
      - '*/*'
jobs:
  lint-alle-yaml-filer:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: yaml-lint
      uses: ibiqlik/action-yamllint@master
      with:
        config_file: schemas/yamllint-comfig.yml
